[Unit]
Description=Express

[Service]
User=meanadm

WorkingDirectory=/home/meanadm/TeamAPoolProjectBackend
ExecStart=/usr/bin/node /home/meanadm/TeamAPoolProjectBackend/Index.js

[Install]
WantedBy=multi-user.target
